<ion-header>
  <ion-toolbar>
    <ion-title>sale-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <app-sales-steps></app-sales-steps>

  <ion-item>
    <ion-input type="text" placeholder="Código produto"></ion-input>
    <ion-button expand="full">Scan</ion-button>
  </ion-item>

  <h3>Produtos</h3>

  <ion-list>

    <ion-item *ngFor="let item of products">
      <ion-label text-left>{{item.name}}</ion-label>
      <ion-label text-center>{{item.price}}</ion-label>

      <ion-button end (click)="removeProduct($event, item)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size="8"></ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label aria-readonly="aria-readonly"> Total: {{productsTotal()}}</ion-label>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="8"></ion-col>
        <ion-col size="4">
          <ion-button expand="full" (click)="goNext()">Ok</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>