<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar>

  </ion-searchbar>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
            <b>João Balão</b>
          </ion-col>

          <ion-col size="12" size-sm="12" size-md="2" size-lg="2" size-xl="2">
            <ion-chip>
              <ion-icon name="logo-whatsapp"></ion-icon>
              <ion-label> <small>(32) 99876-5432</small></ion-label>
            </ion-chip>
          </ion-col>

          <ion-col size="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
            <ion-chip>
              <ion-icon name="mail"></ion-icon>
              <ion-label><small>joao.balao@email.com</small></ion-label>
            </ion-chip>
          </ion-col>



          <ion-col size="3" size-sm="3" size-md="2" size-lg="2" size-xl="2">
            <ion-chip>
              <ion-icon name="shirt"></ion-icon>
              <ion-label><small>P</small></ion-label>
            </ion-chip>
          </ion-col>

          <ion-col size="9" size-sm="9" size-md="2" size-lg="2" size-xl="2">
            <ion-chip>
              <ion-icon name="calendar"></ion-icon>
              <ion-label><small>01/01/1900</small></ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>